:root {
  --app-padding: 16px;
}
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
